.foto-home {
    height: 200px;
}
.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    font-size: 3em;
    color: #889;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 2em;
    color: #000;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
    display: inline-block;
    transform: rotate(-5deg) skew(-15deg);
}
.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
}
.secao-inicio {
    padding: 2em;
}
.secao-inicio h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .5em;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
}
.blog small {
    position: relative;
    top: -2em;
}
.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer h2 {
    font-size: 3em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
.titulo-principal {
    position: relative;
}
.palavra-home {
    font-family: "Shadows Into Light" cursive;
}
.eficiencia {
  position: absolute;
  top: 20%;
  left: 75%;
  transform: rotate(10deg);
}
.boas-praticas {
  position: absolute;
  top: 75%;
  left: 20%;
  transform: rotate(-10deg);
}
.codigo-limpo {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: rotate(10deg);
}
.css3 {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: rotate(-10deg);
}
.html5 {
    position: absolute;
    top: 45%;
    left: 80%;
    transform: rotate(10deg);
}
.javascript {
    position: absolute;
    top: 10%;
    left: 60%;
    transform: rotate(-10deg);
}
.acessibilidade {
    position: absolute;
    top: 35%;
    left: 25%;
    transform: rotate(10deg);
}
.responsivo {
    position: absolute;
    top: 15%;
    left: 20%;
    transform: rotate(-10deg);
}
.otimizacoes {
    position: absolute;
    top: 65%;
    left: 70%;
    transform: rotate(10deg);
}
.agilidade {
    position: absolute;
    top: 10%;
    left: 30%;
    transform: rotate(-10deg);
}
.design {
    position: absolute;
    top: 40%;
    left: 65%;
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}
.blog {
    position: relative;
}
.inicio-post {
    position: absolute;
    top: 2em;
    left: 30%;
    padding: 1em;
    margin: 3em;
    height: 8em;
    color: black;
    background-color: white;
}
.foto-home{
    border-radius: 50%;
}
.faixa-twitter {
    background-color: purple;
    position: 300px;
    width: 20ch;
    top: 0;
    right: 0;
    padding: .3em 6ch;
    border: .2em solid black;
    /* transformando em faixa */
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotate(45deg);
    transform: translateX(cos(45) * (1em - 300px) + 300px);
    transform: translateY(-1 * sen(45) * 1em);
}
.faixa-twitter a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
}
